.advantage {
  margin-bottom: 80px;
}

.advantage__wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 63%;
  margin: 0 auto;
  padding-top: 111px;
  padding-left: 23px;
}

.advantage__item {
  box-sizing: border-box;
  width: 48.5%;
  min-height: 298px;
  // margin-left: 3.4%;
  margin-right: 2.5%;
  margin-bottom: 31px;
  padding-left: 3.5%;
  padding-top: 40px;
  padding-right: 3.3%;
  padding-bottom: 10px;
  border: 1px solid #ebebeb;
  border-left: 2px solid $color-light;
  background-color: #ffffff;
}

.advantage__item:nth-child(odd) {
  // margin-left: 2.5%;
  margin-right: 0;
}

.advantage__item:hover {
  background-color: $color-light;
}

.advantage__title {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 16px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $color-light;
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.advantage__item:hover .advantage__title,
.advantage__item:hover .advantage__text {
  color: #ffffff;
}

.advantage__text {
  margin: 0;
}

.background-wrapper {
  background-color: #ffffff;
  background-image: url("../img/bk-group.png");
  background-position-y: -30px;
}

.advantage__img--conf {
  width: 36px;
  height: 31px;
}

.advantage__img--pers,
.advantage__img--prov {
  width: 35px;
  height: 35px;
}

.advantage__img--term {
  width: 29px;
  height: 32px;
}

.dvantage__img {
  fill: $color-light;
}

.advantage__item:hover .dvantage__img {
  fill: #ffffff;
}

@media (max-width: $desktop-width) {
  .advantage {
    margin-bottom: 20px;
  }

  .advantage__wrapper {
    width: 98%;
    padding-top: 54px;
    padding-left: 17px;
  }

  .advantage__item {
    width: 47%;
    min-height: 232px;
    margin-right: 3.6%;
    margin-bottom: 31px;
    padding-left: 3.2%;
    padding-top: 24px;
    padding-right: 3.5%;
    padding-bottom: 19px;
  }

  // .advantage__item:nth-child(odd) {
  //   margin-right: 3.5%;
  // }

  .advantage__title {
    padding-top: 4px;
    padding-bottom: 9px;
    white-space: nowrap;
    background-position: 0 12px;
  }

  .advantage__title--conf {
    padding-bottom: 17px;
  }

  .advantage__img--conf {
    width: 30px;
    height: 26px;
  }

  .advantage__img--pers,
  .advantage__img--prov {
    width: 32px;
    height: 32px;
  }

  .background-wrapper {
    background-position: -348px -85px;
  }
}

@media (max-width: $tablet-width) {
  .advantage {
    margin-bottom: 35px;
  }

  .advantage__wrapper {
    width: 91%;
    padding-top: 38px;
    padding-left: 0;
  }

  .advantage__item {
    width: 100%;
    min-height: 232px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding-left: 24px;
    padding-top: 21px;
    padding-right: 15px;
    padding-bottom: 24px;
  }

  .advantage__item:nth-child(odd) {
    margin-right: 0;
    padding-right: 13px;
  }

  .advantage__title {
    padding-top: 11px;
    font-size: 20px;
    line-height: 140.62%;
    font-weight: 400;
    white-space: normal;
    background-position: -3px 0;
  }

  .advantage__title--conf {
    padding-right: 20px;
    padding-bottom: 0;
  }

  .background-wrapper {
    background-position: -77.5% 474px;
  }
}
