.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px;
  margin: 0;
  padding: 13px 26px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.button--main-screen {
  margin-left: 99px;
  padding: 17px 5.5%;
  font-size: 16px;
  line-height: 19px;
  background-color: $color-light;
  border: none;
}

.button--main-screen:focus,
.button--main-screen:hover {
  background-color: $color-light;
  opacity: 0.8;
}

.button--main-screen:active {
  background-color: $color-light;
  opacity: 0.5;
}

@media (max-width: $desktop-width) {
  .button--main-screen {
    margin-left: 51px;
    padding: 17px 7%;
  }
}

@media (max-width: $desktop-width) {
  .button--main-screen {
    margin-left: 0;
    padding: 17px 11%;
  }
}
