.mobile-only {
  display: none;
}

@media (max-width: $desktop-width) {
  .desktop-only {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .mobile-only {
    display: inline-block;
  }

  .no-mobile {
    display: none;
  }
}
