.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
}

.logo__text-eng {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 25px;
  line-height: 29px;
  font-weight: 800;
  margin-top: 6px;
  margin-bottom: 1px;
  white-space: nowrap;
}

.logo__text-eng--header {
  color: #ffffff;
}

.logo__text-eng--footer {
  color: #203c42;
}

.logo__text-ru {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #788891;
  margin: 0;
}

.logo__img {
  display: block;
  margin-right: 16px;
}

@media (max-width: 767px) {
  .logo__text--top {
    display: none;
  }
}
