.page-header {
  width: 100%;
  background-color: $color-dark;
  // background-image: url("../img/bg-header@1x.png");
  // background-size: cover;
}

// @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
//   .page-header {
//     background-image: url("../img/bg-header@2x.png");
//   }
// }

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 76%;
  margin: 0 auto;
}

.page-header__logo-link {
  margin-top: 33px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 23px;
}

.page-header__contact-item:hover,
.page-header__logo-link:hover {
  opacity: 0.8;
}

.page-header__contact-item:active,
.page-header__logo-link:active {
  opacity: 0.6;
}

.page-header__contact-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 38px;
  padding-right: 11px;
  padding-bottom: 10px;
}

.page-header__contact-item,
.page-header__logo-link {
  text-decoration: none;
  cursor: pointer;
}

.page-header__contact {
  line-height: 18px;
  color: #ffffff;
  white-space: nowrap;
}

.page-header__contact-item {
  min-height: 25px;
  margin-top: 9px;
  margin-right: 4.1%;
  margin-left: 3.1%;
  background-position: left;
  background-repeat: no-repeat;
}

.page-header__contact-item--email {
  padding-left: 39px;
  background-image: url("../img/icon-envelope.svg");
  background-size: 19px;
}

.page-header__contact-item--phone {
  padding-left: 35px;
  background-image: url("../img/icon-phone.svg");
  background-size: 18px;
}

@media (max-width: $desktop-width) {
  .page-header__contact {
    display: none;
  }

  .page-header__contact-item--email {
    background-size: 25px;
  }

  .page-header__contact-item--phone {
    background-size: 24px;
  }

  .page-header__contact-wrapper {
    padding-top: 24px;
    padding-right: 0;
  }

  .page-header__contact-item {
    margin-top: 7px;
    margin-right: 0;
  }

  .page-header__wrapper {
    width: 100%;
  }

  .page-header__logo-link {
    margin-top: 19px;
    margin-left: 25px;
  }
}

@media (max-width: $tablet-width) {
  .logo__img {
    width: 38px;
  }

  .page-header__contact-wrapper {
    padding-top: 14px;
  }

  .page-header__contact-item--phone {
    padding-left: 39px;
  }

  .page-header__contact-item--email {
    padding-left: 41px;
  }

  .page-header__logo-link {
    margin-top: 17px;
    margin-left: 17px;
  }
}
