.page-footer {
  width: 100%;
  background-color: #fafafa;
  background-image: linear-gradient(to top, transparent 52px, rgba(53, 55, 53, 0.2) 52px, rgba(53, 55, 53, 0.2) 53px, transparent 53px);
}

.page-footer__big-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 76%;
  margin: 0 auto;
  padding-top: 65px;
}

.page-footer__small-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 190px;
  margin-bottom: 10px;
}

.page-footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: 1.6%;
}

.page-footer__logo-link {
  cursor: pointer;
}

.page-footer__central-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.page-footer__social {
  margin-bottom: 58px;
}

.page-footer__sections {
  width: 70%;
}

.page-footer__contacts {
  width: 30%;
}

.page-footer__age {
  display: none;
}

.page-footer__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: $color-dark;
  background-color: #fafafa;
  cursor: pointer;
}

.page-footer__link:hover {
  opacity: 0.8;
}

.page-footer__link:active {
  opacity: 1;
}

.page-footer__title {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-dark;
  background-color: #fafafa;
}

.page-footer__special-text {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-dark;
}

.page-footer__add-info {
  height: 53px;
  padding-right: 5px;
}

@media (max-width: 1200px) {
  .page-footer__big-wrapper {
    width: 90%;
  }
}

@media (max-width: $desktop-width) {
  .page-footer {
    background-image: linear-gradient(to top, transparent 73px, rgba(53, 55, 53, 0.2) 73px, rgba(53, 55, 53, 0.2) 74px, transparent 74px),
      linear-gradient(to bottom, transparent 97px, rgba(53, 55, 53, 0.2) 97px, rgba(53, 55, 53, 0.2) 98px, transparent 98px);
  }

  .page-footer__big-wrapper {
    width: 94%;
    padding-top: 19px;
  }

  .page-footer__small-wrapper {
    flex-direction: column;
    margin-bottom: 57px;
  }

  .page-footer__logo-wrapper {
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 64px;
  }

  .page-footer__social {
    margin-bottom: 0;
    margin-top: 12px;
  }

  .page-footer__age {
    display: block;
    margin: 0;
    margin-left: 32px;
    margin-top: 17px;
  }

  .page-footer__sections {
    width: 50%;
  }

  .page-footer__contacts {
    width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    background-image: none;
  }

  .page-footer__big-wrapper {
    width: 100%;
    padding-top: 46px;
  }

  .page-footer__small-wrapper {
    margin-bottom: 26px;
  }

  .page-footer__logo-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    padding: 0 10px;
  }

  .page-footer__central-wrapper {
    flex-direction: column;
  }

  .page-footer__age {
    margin: 0;
    margin-top: 26px;
  }

  .page-footer__social {
    margin-top: 31px;
  }

  .page-footer__sections {
    width: 100%;
    border-top: 1px solid rgba(53, 55, 53, 0.2);
    border-bottom: 1px solid rgba(53, 55, 53, 0.2);
  }

  .page-footer__contacts {
    width: 100%;
    border-bottom: 1px solid rgba(53, 55, 53, 0.2);
  }

  .page-footer--closed {
    display: none;
  }

  .page-footer--opened {
    display: flex;
    flex-direction: column;
  }
}
