.sections__title {
  margin: 0;
  padding-left: 24%;
  padding-bottom: 25px;
}

.sections__list-wrapper {
  display: flex;
  justify-content: center;
}

.sections__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-left: 2%;
  margin-right: 4.5%;
  padding: 0;
  list-style: none;
}

.sections__item {
  padding-right: 5.5%;
  padding-left: 3%;
}

@media (max-width: $desktop-width) {
  .sections__list-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  .sections__list {
    flex-wrap: nowrap;
    max-height: none;
    margin-left: 0;
    margin-right: 0;
  }

  .sections__title {
    padding-left: 4px;
  }

  .sections__item {
    padding-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .sections__title {
    display: inline-block;
    width: 80%;
    padding-left: 4.7%;
    padding-top: 29px;
    padding-bottom: 25px;
  }

  .sections__list {
    margin-top: 8px;
    padding-right: 33px;
    margin-bottom: 26px;
  }

  .sections__item {
    margin-left: 4.7%;
  }
}
