
$color-light: #00b2ff;
$color-dark: #1b2d37;
// @background-color2-hov: #669ec0;
// @background-color2-act: #5496bd;
// @background-color3: #eeeeee;
// @font-color1:#333333;
// @font-color2: white;
// @font-color3: black;
$tablet-width: 768px;
$desktop-width: 1024px;
$content-width: 1920px;
$desktop-width-only: 1025px;
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;
